root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
insert_final_newline = true
charset = utf-8-bom
trim_trailing_whitespace = true

[*.{json,yml,yaml,md,razor,html,css,js,ts}]
indent_size = 2

[*.{cs,csproj}]
indent_size = 4

# C# specific
[*.cs]
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:silent
dotnet_sort_system_directives_first = true
